.bg-image{
    background-image: url("#{resource['images/fondo_registro.png']}");;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.ui-menubar{
    background: rgba(250, 250, 250, 0.2) !important; /* Fondo negro semi-transparente */
    border: none !important; /* Eliminar bordes */
    box-shadow: none !important; /* Eliminar sombra */
    display: flex;
    justify-content: space-between;
}
.menu-title{
    color: rgb(0,0,0) !important;
    font-weight: 700;
}
.form-title{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    margin-top: -20px;
}

.ui-panelgrid .col{
    width: 50%; 
}

.form-center{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.text-form{
    color: rgb(255, 255, 255);
}
.buttons-menu{
    margin-left: auto !important;
}
.panel-transparente{
    background: rgba(0, 0, 0, 0.2) !important;
    backdrop-filter: blur(10px) !important;
    box-shadow: none !important; 
    display: flex;
    justify-content: space-between;
}
